<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Console Systems</title>
</head>
<body>
<div class="select-home">
    <h1>Select a console of choice:</h1> 
    <a href="/" id="back-to-home">Back to Home Page</a>
</div>
        <div class="console-photos">
            <div class="ps-logo">
                <img src="https://brandlogos.net/wp-content/uploads/2022/05/playstation-logo_brandlogos.net_vflvi.png" alt="Playstation Logo">
                <h2><a href="/video-games/playstation">Playstation</a></h2>
            </div>
            <div class="xbox-logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Xbox_one_logo.svg/1200px-Xbox_one_logo.svg.png" alt="Xbox Logo">
                <h2><a href="/video-games/xbox">Xbox</a></h2>
            </div>
            <div class="nintendo-logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Nintendo_Switch_logo%2C_square.png/768px-Nintendo_Switch_logo%2C_square.png" alt="Nintendo Logo">
                <h2><a href="/video-games/nintendo">Nintendo</a></h2>
            </div>
            <div class="steam-logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/640px-Steam_icon_logo.svg.png" alt="Steam Logo">
                <h2><a href="/video-games/steam">Steam</a></h2>
            </div>    
        </div>
</body>
</html>