<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <title>Home Page</title>
</head>
<body>
    <div class = "home-top-menu">
        <a href="/consoles" id="home-click-here-browse">Search by Console</a>
        <a href="/search-games" id="home-search">Search by Title</a>
        <a href="/login" id="home-click-here-signup">Login In</a>
    </div>

    <div id="modal-container">
        <div class="modal-content">
            <span class="close">&times;</span>

            <div id="loginForm">
            <h2>Login:</h2>
            <form>
                <label>Username:</label>
                <input type="text" placeholder="Enter your username" required>
                <label>Email address:</label>
                <input type="text" placeholder="Enter your email" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/signup/new" id="switchToSignup">Sign up</a></p>
        </div>
    </div>
    </div>

    <h1 id="welcome">Welcome to Lamestop!</h1>
    <h3 id="home-h3">Home of the most original app to purchase the latest video games!</h3>
    <div class="home-banners">
        <div class="ps-banner-container">
            <img src="https://preview.redd.it/playstation-studios-website-banner-updated-to-include-death-v0-lnmyymfzhit81.png?auto=webp&s=0bb4fae07204d3505265d92a8192183a075cbb5a" id="ps-home-banner">
    </div>
        <div class="xbox-banner-container">
            <img src="https://i.redd.it/o97j37n6a6931.jpg" id="xbox-home-banner">
        </div>
        <div class="nintendo-banner-container">
            <img src="https://i.pinimg.com/736x/c6/9c/91/c69c91e93725f9f0ae921d1ccdecd663.jpg" id="nintendo-home-banner">
        </div>
        <div class="steam-banner-container">
            <img src="https://preview.redd.it/0dycgqk59co61.jpg?width=640&crop=smart&auto=webp&s=d426fa18996c50791a1f234e5a0dfa3f6e4f47f7" id="steam-home-banner">
        </div>
    </div>
</body>
</html>