<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Browse By Item</title>
</head>
<body>
    <div class="select-home">
        <h1>Search by Games/Titles:</h1> 
        <a href="/" id="back-to-home">Back to Home Page</a>
    </div>
    <form action="/search" method="POST">
        <label>Game/Title:</label>
        <input type="text" name="gameName" placeholder="Enter Game/Title" id="search-game" required>
        <label>System/Console:</label>
        <select name="gameSystem" id="gameSystem">
            <option value="PS5">PS5</option>
            <option value="Xbox Series X">Xbox Series X</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="Steam">Steam</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <% if (results.length > 0) { %>
        <ul>
          <% results.forEach(game => { %>
            <li><%= game.gameName %> - <%= game.gameSystem %>
                <a href="/search/<%= game._id %>/edit">(Edit Game/Console Choice)</a>
                <form action="/search/<%= game._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
           <% } else { %>
              <p> No results found. </p>
           <% } %>
</body>
</html>