<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nintendo Home Page</title>
</head>
<body>
    <h1 id="browse-playstation">Browse Nintendo Games</h1>
    <div class="ps-systems">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Nintendo_Switch_logo.svg/2048px-Nintendo_Switch_logo.svg.png" id="ps5-logo">
</div>
<div class="browse-back">
<div class="game-sections">
    <h2>Browse Games</h2>
    <div class="ps-bestsellers">
        <img src="https://m.media-amazon.com/images/I/71OMzvCrU4L._AC_UF1000,1000_QL80_.jpg">
        <img src="https://m.media-amazon.com/images/I/81gTTc2IpCL._AC_UF1000,1000_QL80_.jpg">
        <img src="https://m.media-amazon.com/images/I/81+nZRC5SBL.jpg">
        <img src="https://m.media-amazon.com/images/I/71rWVSVyoNL._AC_UF1000,1000_QL80_.jpg">
        <img src="https://m.media-amazon.com/images/I/81KGsbq8ekL._AC_UF1000,1000_QL80_.jpg">
        <img src="https://m.media-amazon.com/images/I/71bSke9MDHL._AC_UF1000,1000_QL80_.jpg">
        <img src="https://m.media-amazon.com/images/I/913II3nRc0L._AC_UF1000,1000_QL80_.jpg">
        <img src="https://m.media-amazon.com/images/I/91SF0Tzmv4L.jpg">
    </div>
</div>
<div class="back-pages">
    <a href="/consoles">Back to Console Selection</a>
    <a href="/">Back to Home Page</a>
    </div>
</div>
</body>
</html>