<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Playstation Home Page</title>
</head>
<body>
    <h1 id="browse-playstation">Browse Playstation Games</h1>
    <div class="ps-systems">
    <img src="https://brandlogos.net/wp-content/uploads/2022/02/playstation_5-logo-brandlogo.net_.png" id="ps5-logo">
</div>
<div class="browse-back">
<div class="game-sections">
    <h2>Browse Games</h2>
<div class="ps-bestsellers">
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202406/0500/8f15268257b878597757fcc5f2c9545840867bc71fc863b1.png">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3CsYOZHsbxsup531k5W293TvsaMbQeXS9fg&s">
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202101/2921/DwVjpbKOsFOyPdNzmSTSWuxG.png">
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202206/0720/eEczyEMDd2BLa3dtkGJVE9Id.png">
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/yIa8STLMmCyhj48fGDpaAuRM.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/en/b/b6/Ghost_of_Tsushima.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/en/e/ee/God_of_War_Ragnar%C3%B6k_cover.jpg">
    <img src="https://loyolamaroon.com/wp-content/uploads/2023/11/Marvel-Spiderman-2.jpeg">
</div>
</div>
<div class="back-pages">
    <a href="/consoles">Back to Console Selection</a>
    <a href="/">Back to Home Page</a>
    </div>
</div>
</body>
</html>