<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Steam Home Page</title>
</head>
<body>
    <h1 id="browse-playstation">Browse Steam Games</h1>
    <div class="ps-systems">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/640px-Steam_icon_logo.svg.png" id="ps5-logo">
</div>
<div class="browse-back">
<div class="game-sections">
    <h2>Browse Games</h2>
    <div class="ps-bestsellers">
        <img src="https://store-images.s-microsoft.com/image/apps.4974.13550459053619040.81610713-4c64-470c-b543-bcffffaa6ea3.efb7c846-2f32-4a2d-b2d4-cd8109721332?q=90&w=480&h=270">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202211/0711/qezXTVn1ExqBjVjR5Ipm97IK.png">
        <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1245620/capsule_616x353.jpg?t=1739922037">
        <img src="https://helldivers.wiki.gg/images/thumb/5/5e/HD2_SteamLibrary-Portrait.jpg/300px-HD2_SteamLibrary-Portrait.jpg?ffffe7">
        <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1203620/83097bfc30f7df94f308f3a3ffcc498334cc6a30/capsule_616x353.jpg?t=1738154124">
        <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1172470/6f306d0c6bd5fb524a280cf2560f84854cadb829/capsule_616x353.jpg?t=1741980558">
        <img src="https://cdn2.unrealengine.com/fragpunk-is-a-hero-shooter-that-encourages-you-to-break-the-rules-3840x2160-7de7b1c41472.jpg">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/05/Destiny_2_%28artwork%29.jpg">
    </div>
</div>
<div class="back-pages">
    <a href="/consoles">Back to Console Selection</a>
    <a href="/">Back to Home Page</a>
    </div>
</div>
</body>
</html>