<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Xbox Home Page</title>
</head>
<body>
    <h1 id="browse-playstation">Browse Xbox Games</h1>
    <div class="ps-systems">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Xbox_Series_X_logo.svg/1014px-Xbox_Series_X_logo.svg.png" id="ps5-logo">
</div>
<div class="browse-back">
<div class="game-sections">
    <h2>Browse Games</h2>
    <div class="ps-bestsellers">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b6/Minecraft_2024_cover_art.png">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202308/0312/aff71a0ced271048f5079b1fcf715bcb45110efc13e9704a.png">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/54/Assassin%27s_Creed_Shadows_cover.png">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202405/2921/4b45cf4b319a65e05f6e4f87a22c7b91d2e7e8aeb247b61f.png">
        <img src="https://cdn1.epicgames.com/offer/578f39d17be846e7a6fa335f757012aa/EGS_SplitFiction_HazelightStudiosAB_S2_1200x1600-d626c4ebc51d7b5bacbfd015368b674c">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/44/Red_Dead_Redemption_II.jpg">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a5/Grand_Theft_Auto_V.png">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202502/0320/2a38aaaea7f81e2f55ed0f27241c1ec3f8b9dce924cfa70a.jpg">
    </div>
</div>
<div class="back-pages">
    <a href="/consoles">Back to Console Selection</a>
    <a href="/">Back to Home Page</a>
    </div>
</div>
</body>
</html>